/* ==========================
   NAVBAR
========================== */

.header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(11,11,11,.85);
    backdrop-filter:blur(10px);
    border-bottom:1px solid rgba(212,175,55,.15);
    z-index:999;
}

.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.logo span{
    font-size:38px;
    font-weight:800;
    color:#fff;
}

.logo span b{
    color:#D4AF37;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
    margin:0;
    padding:0;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#D4AF37;
}